div{
    box-sizing: border-box;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #1A181B;
}

h1 {
    font-family: 'Bebas Neue';
    color: #FD5D5D;}

h2 {
    font-family: 'Bebas Neue';
    color: #36008D;
}

h3{
    font-family: 'Bebas Neue';
    font-weight: 400;
    color: #36008D;
    text-align: left;
    font-size: 40px;
    margin-left: 40px;
}

.contenedor{
    display: flex;
    flex-wrap: wrap;
}

.logo-menu{
    flex-basis: 20%;
}

.logo{
    width: 75%;
    padding-left: 5%;
    padding-top: 3%;
}

.menu-top{
    flex-basis: 80%;
    text-align: center;
    margin-top: 2%;
}

.menu-top a:nth-child(n+0):nth-child(-n+2){
    border-right: 4px #FFAD60 solid;
    padding-right: 2%;
}

.menu-top a {
    color: #FD5D5D;
    text-decoration: none;
    font-family: 'Bebas Neue';
    font-size: 30px;
    padding-left: 2%;

}

i {
    padding-right: 8px;
}

.menu-top a:hover{
    color: #FFAD60;
}

.banner{
    background-color: #FFF7BC;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
}

.platillos{
    border: #FFAD60 3px solid;
    border-radius: 10px;
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

.tabla-titulos{
    font-family: 'Bebas Neue';
    color: #FD5D5D;
    font-size: 20px;
}

table{
    border: #FFAD60 2px solid;
}

.center {
    margin-left: auto;
    margin-right: auto;
  }

td {
    font-family: 'Roboto', sans-serif;
    padding-right: 10px;
    padding-left: 10px;
    border-bottom: #FFAD60 2px solid;
    border-right:#FFAD60 2px solid;;
}

.footer{
    background-color: #F2F2F2;
    padding-top: 15px;
    padding-bottom: 5px;
    text-align: center;
    margin-top: 50px;
}

.footer h4{
    font-family: 'Roboto';
    font-weight: 700;
    color: #FD5D5D;
    text-align: center;
    font-size: 14px;
    margin: 2px;
}

.derechos{
    font-family: 'Roboto';
    font-weight: 700;
    color: #FFAD60;
    text-align: center;
    font-size: 10px;
    margin: 15px;
}